{% extends "base.html" %}
{% block content %}
<div class="py-20">
    <h1 class="text-5xl font-extrabold text-white mb-4">Le Pham Hoang Trung</h1>
    <p class="text-xl text-blue-400 mb-8">AI Research | Data Science | Web Dev</p>
    
    <div class="grid md:grid-cols-2 gap-12">
        <div class="prose prose-invert">
            <h2 class="text-2xl font-bold">About Me</h2>
            <p>I am enthusiastic about leveraging technology to solve interesting problems. My journey in IT has allowed me to gain experience across various fields, from developing web applications to exploring the intricacies of Artificial Intelligence, both in real-world applications and academic research. Currently, I work as a Teaching Assistant at the Faculty of Computer Networks and Communications, University of Information Technology (UIT). My goal is to make meaningful contributions to the field of Artificial Intelligence and next-generation.</p>
        </div>
        <div class="bg-slate-800/50 p-6 rounded-xl border border-slate-700">
            <h3 class="text-xl font-bold mb-4">Research Directions</h3>
            <ul class="space-y-2 text-slate-300">
                <li>• Multimodal Learning (Rumor Detection)</li>
                <li>• Machine Unlearning (Exact vs. Approximate)</li>
                <li>• AI Model Security (Model Inversion Attack, Layer Attack)</li>
                <li>• Natural Language Processing (RAG, VLM))</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}